# Project Data Warehouse with AWS Redshift

This notebook aims to create the resources in AWS with SDK and orchestrates the step-by-step explanation of what happens.

## Modules

In [1]:
from time import time
import configparser
import boto3                   #AWS SDK
from botocore.exceptions import ClientError
import json
import pandas as pd

# project modules
import create_tables
import etl

%load_ext sql

## 1. AWS SDK - Infrastructure-as-code (IaC)

In [2]:
def update_iac_values(file, section, key, value):
    config.read(file)
    cfgfile = open(file, 'w')
    config.set(section, key, value)
    config.write(cfgfile)
    cfgfile.close()

In [3]:
# Read config file to get parameters
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# AWS parameters
# user should have "Programmatic access"
KEY = config.get('AWS','key')
SECRET = config.get('AWS','secret')

In [4]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

### 1.1. Create Role and attach policy

In [5]:
DWH_IAM_ROLE_NAME = config.get("DWH", "DWH_IAM_ROLE_NAME")

try:
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

update_iac_values('dwh.cfg', 'IAM_ROLE', 'arm', "{}{}{}".format("'", roleArn, "'"))
print(roleArn)

An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name myRedshiftRole already exists.
arn:aws:iam::240635111244:role/myRedshiftRole

### 1.2. Lanch Redshift Cluster

In [18]:
DWH_CLUSTER_TYPE = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NODE_TYPE = config.get("DWH","DWH_NODE_TYPE")
DWH_NUM_NODES = config.get("DWH","DWH_NUM_NODES")

DWH_DB = config.get("DWH","DWH_DB")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB_USER = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD = config.get("DWH","DWH_DB_PASSWORD")

try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
    print(response)
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [20]:
# Endpoint just appers when the cluster is available
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-7bb3e303
7,NumberOfNodes,4

In [21]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

print("DWH_ENDPOINT :: ", DWH_ENDPOINT) # Host from dwh.cfg file
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN) # IAM from  dwh.cfg file

update_iac_values('dwh.cfg', 'CLUSTER', 'host', "{}{}{}".format("'",DWH_ENDPOINT,"'"))

DWH_ENDPOINT ::  dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::240635111244:role/myRedshiftRole

### 1.3. Open an incoming TCP port to access the cluster endpoint

In [22]:
DWH_PORT= config.get("DWH","DWH_PORT")
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-b229f790')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

### 1.4. Test connection

In [23]:
# String path to connect to Redshift
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### 1.5. Read S3 json files

In [24]:
bucket =  s3.Bucket("udacity-dend")
song_data = [filename.key for filename in bucket.objects.filter(Prefix='song_data') if filename.key[-4:] == 'json']
log_data = [filename.key for filename in bucket.objects.filter(Prefix='log_data') if filename.key[-4:] == 'json']

print("Song data files: {} \nLog data files: {}".format(len(song_data), len(log_data)))

Song data files: 14896
Log data files: 30

#### Undestand .json format

In [25]:
content_object = s3.Object("udacity-dend", song_data[0])
file_content = content_object.get()['Body'].read().decode('utf-8')
json_content = json.loads(file_content)
print(json_content)

{'artist_id': 'ARJNIUY12298900C91', 'artist_latitude': None, 'artist_location': '', 'artist_longitude': None, 'artist_name': 'Adelitas Way', 'duration': 213.9424, 'num_songs': 1, 'song_id': 'SOBLFFE12AF72AA5BA', 'title': 'Scream', 'year': 2009}

In [26]:
content_object = s3.Object("udacity-dend", log_data[0])
file_content = content_object.get()['Body'].read()
print(file_content)

b'{"artist":null,"auth":"Logged In","firstName":"Walter","gender":"M","itemInSession":0,"lastName":"Frye","length":null,"level":"free","location":"San Francisco-Oakland-Hayward, CA","method":"GET","page":"Home","registration":1540919166796.0,"sessionId":38,"song":null,"status":200,"ts":1541105830796,"userAgent":"\\"Mozilla\\/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/36.0.1985.143 Safari\\/537.36\\"","userId":"39"}\n{"artist":null,"auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":0,"lastName":"Summers","length":null,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"GET","page":"Home","registration":1540344794796.0,"sessionId":139,"song":null,"status":200,"ts":1541106106796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Des\'ree","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":1,"lastName":"Summers","length":246.30812,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"You Gotta Be","status":200,"ts":1541106106796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":null,"auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":2,"lastName":"Summers","length":null,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"GET","page":"Upgrade","registration":1540344794796.0,"sessionId":139,"song":null,"status":200,"ts":1541106132796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Mr Oizo","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":3,"lastName":"Summers","length":144.03873,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Flat 55","status":200,"ts":1541106352796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Tamba Trio","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":4,"lastName":"Summers","length":177.18812,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Quem Quiser Encontrar O Amor","status":200,"ts":1541106496796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"The Mars Volta","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":5,"lastName":"Summers","length":380.42077,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Eriatarka","status":200,"ts":1541106673796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Infected Mushroom","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":6,"lastName":"Summers","length":440.2673,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Becoming Insane","status":200,"ts":1541107053796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Blue October \\/ Imogen Heap","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":7,"lastName":"Summers","length":241.3971,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Congratulations","status":200,"ts":1541107493796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Girl Talk","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":8,"lastName":"Summers","length":160.15628,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Once again","status":200,"ts":1541107734796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Black Eyed Peas","auth":"Logged In","firstName":"Sylvie","gender":"F","itemInSession":0,"lastName":"Cruz","length":214.93506,"level":"free","location":"Washington-Arlington-Alexandria, DC-VA-MD-WV","method":"PUT","page":"NextSong","registration":1540266185796.0,"sessionId":9,"song":"Pump It","status":200,"ts":1541108520796,"userAgent":"\\"Mozilla\\/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit\\/537.77.4 (KHTML, like Gecko) Version\\/7.0.5 Safari\\/537.77.4\\"","userId":"10"}\n{"artist":null,"auth":"Logged In","firstName":"Ryan","gender":"M","itemInSession":0,"lastName":"Smith","length":null,"level":"free","location":"San Jose-Sunnyvale-Santa Clara, CA","method":"GET","page":"Home","registration":1541016707796.0,"sessionId":169,"song":null,"status":200,"ts":1541109015796,"userAgent":"\\"Mozilla\\/5.0 (X11; Linux x86_64) AppleWebKit\\/537.36 (KHTML, like Gecko) Ubuntu Chromium\\/36.0.1985.125 Chrome\\/36.0.1985.125 Safari\\/537.36\\"","userId":"26"}\n{"artist":"Fall Out Boy","auth":"Logged In","firstName":"Ryan","gender":"M","itemInSession":1,"lastName":"Smith","length":200.72444,"level":"free","location":"San Jose-Sunnyvale-Santa Clara, CA","method":"PUT","page":"NextSong","registration":1541016707796.0,"sessionId":169,"song":"Nobody Puts Baby In The Corner","status":200,"ts":1541109125796,"userAgent":"\\"Mozilla\\/5.0 (X11; Linux x86_64) AppleWebKit\\/537.36 (KHTML, like Gecko) Ubuntu Chromium\\/36.0.1985.125 Chrome\\/36.0.1985.125 Safari\\/537.36\\"","userId":"26"}\n{"artist":"M.I.A.","auth":"Logged In","firstName":"Ryan","gender":"M","itemInSession":2,"lastName":"Smith","length":233.7171,"level":"free","location":"San Jose-Sunnyvale-Santa Clara, CA","method":"PUT","page":"NextSong","registration":1541016707796.0,"sessionId":169,"song":"Mango Pickle Down River (With The Wilcannia Mob)","status":200,"ts":1541109325796,"userAgent":"\\"Mozilla\\/5.0 (X11; Linux x86_64) AppleWebKit\\/537.36 (KHTML, like Gecko) Ubuntu Chromium\\/36.0.1985.125 Chrome\\/36.0.1985.125 Safari\\/537.36\\"","userId":"26"}\n{"artist":"Survivor","auth":"Logged In","firstName":"Jayden","gender":"M","itemInSession":0,"lastName":"Fox","length":245.36771,"level":"free","location":"New Orleans-Metairie, LA","method":"PUT","page":"NextSong","registration":1541033612796.0,"sessionId":100,"song":"Eye Of The Tiger","status":200,"ts":1541110994796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.3; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/36.0.1985.143 Safari\\/537.36\\"","userId":"101"}'

## 2.Create Tables

In [27]:
create_tables.main()

## 3.ETL

In [28]:
# ETL execution load the stage tables from S3 and afterwards insert into fact and dimension tables
etl.main()

## 4.Run Analytical Queries

### 4.1 Check whether the tables are as expected

In [29]:
%%sql
select table_catalog, table_schema, table_name
from information_schema.tables
where table_schema='public'and table_type='BASE TABLE'

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('dwh', 'public', 'songplays'),
 ('dwh', 'public', 'staging_events'),
 ('dwh', 'public', 'staging_songs'),
 ('dwh', 'public', 'users'),
 ('dwh', 'public', 'songs'),
 ('dwh', 'public', 'artists'),
 ('dwh', 'public', 'time')]

In [30]:
%%sql
select *
from staging_songs
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR1S3NH1187B98C2BC', None, None, 'Clarks Town, Jamaica', 'Anthony B', 'SONHGLD12AB0188D47', 'Our Father', Decimal('202'), 1999),
 (1, 'AR1DATU1187B9A5498', None, None, '', 'Patto', 'SONWUSK12AB01837FD', "Sittin' Back Easy", Decimal('222'), 0),
 (1, 'ARPDLGZ1187FB43801', Decimal('40'), Decimal('-74'), 'New York, NY', 'Peter Buffett', 'SOCZVZV12A8C13813C', 'Red Cloud', Decimal('344'), 0),
 (1, 'AR9TJKD1187B990125', Decimal('34'), Decimal('-118'), 'London, England', 'Riff Raff', 'SOKVIBT12A8AE45ABD', 'Jealous Woman (2007 Digital Remaster)', Decimal('185'), 0),
 (1, 'ARL5BQX1187FB586E8', Decimal('33'), Decimal('-92'), 'El Dorado, AR', 'Jesse James', 'SOEKGDN12AB0184D42', 'Change', Decimal('235'), 0)]

In [31]:
%%sql
select *
from staging_events
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Miami Horror', 'Logged In', 'Kate', 'F', 88, 'Harrell', Decimal('250'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', Decimal('1540472624796'), 293, 'Sometimes', 200, 1541548876796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('The White Stripes', 'Logged In', 'Kate', 'F', 89, 'Harrell', Decimal('241'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', Decimal('1540472624796'), 293, 'My Doorbell (Album Version)', 200, 1541549126796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Juan Carmona', 'Logged In', 'Kate', 'F', 90, 'Harrell', Decimal('331'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', Decimal('1540472624796'), 293, 'Panales de Algodon', 200, 1541549367796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Alison Krauss / Union Station', 'Logged In', 'Kate', 'F', 91, 'Harrell', Decimal('171'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', Decimal('1540472624796'), 293, 'Restless', 200, 1541549698796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Bullet For My Valentine', 'Logged In', 'Kate', 'F', 92, 'Harrell', Decimal('235'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', Decimal('1540472624796'), 293, 'Begging For Mercy', 200, 1541549869796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97)]

In [32]:
%%sql
select *
from songplays
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, datetime.datetime(2018, 11, 14, 15, 14, 54), 25, 'paid', 'SOVXAXI12A8C1383D9', 'ARY65231187FB46283', 534, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9, datetime.datetime(2018, 11, 4, 7, 31, 31), 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (40, datetime.datetime(2018, 11, 26, 7, 8, 28), 49, 'paid', 'SOYQYTX12AB0186FFA', 'ARWVF341187B9B55D8', 930, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (54, datetime.datetime(2018, 11, 9, 17, 55), 80, 'paid', 'SOAOJYY12A58A7B2F9', 'ARFVYJI1187B9B8E13', 416, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (57, datetime.datetime(2018, 11, 17, 23, 13, 41), 70, 'paid', 'SOKUCXB12A6D4FAC0C', 'ARHO39G1187FB4E31B', 113, 'San Antonio-New Braunfels, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [33]:
%%sql
select *
from songs
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, Decimal('415')),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, Decimal('195')),
 ('SOABLNP12A8C135DC9', 'Life / Death', 'ARVTZN01187B9905B9', 2008, Decimal('276')),
 ('SOABQFG12A58A7C6A7', 'Seven Samurai - ending theme', 'ARKZESI119B86682ED', 0, Decimal('340')),
 ('SOACRDR12A8C14150E', 'Bellsong', 'ARCWB9Y1187B996E1F', 0, Decimal('552'))]

In [34]:
%%sql
select *
from artists
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR02IU11187FB513F2', 'Tito Puente', 'New York, NY', None, None),
 ('AR03P141187B9B8CE6', 'Teo Mammucari', '', None, None),
 ('AR03Z7E1187FB44816', "The Colourfield Featuring Sinead O'Connor", 'Manchester, England', Decimal('53'), Decimal('-2')),
 ('AR040RJ1187FB4D2AB', 'Azure Ray', '', None, None),
 ('AR052WY1187FB55B1C', 'We The Kings', 'BRADENTON. FL', Decimal('27'), Decimal('-82'))]

In [35]:
%%sql
select *
from users
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(22, 'Sean', 'Wilson', 'F', 'free'),
 (41, 'Brayden', 'Clark', 'M', 'free'),
 (43, 'Jahiem', 'Miles', 'M', 'free'),
 (47, 'Kimber', 'Norris', 'F', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free')]

In [36]:
%%sql
select *
from time
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 2, 17, 31, 45), 17, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 3, 18, 19, 10), 18, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 4, 6, 18, 31), 6, 4, 44, 11, 2018, 0),
 (datetime.datetime(2018, 11, 5, 1, 48), 1, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 11, 36, 56), 11, 5, 45, 11, 2018, 1)]

### 4.2 Songplays analysis

10 artists most listen

In [58]:
%%sql
select art.name, count(*) qty
from artists art

inner join songplays sps
on sps.artist_id = art.artist_id

group by art.name

order by 2 desc

limit 10

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9),
 ('B.o.B', 8),
 ('Usher', 6),
 ('Muse', 6),
 ('Usher featuring Jermaine Dupri', 6),
 ('Richard Hawley And Death Ramps_ Arctic Monkeys', 5)]

10 songs most listen

In [59]:
%%sql
select art.name, sgs.title, count(*) qty
from artists art

inner join songplays sps
on sps.artist_id = art.artist_id

inner join songs sgs
on sgs.artist_id = sps.artist_id

group by art.name, sgs.title

order by 3 desc

limit 10

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', "You're The One", 37),
 ('Kid Cudi', 'Make Her Say', 10),
 ('Kid Cudi', 'Up Up & Away', 10),
 ('Kid Cudi / Kanye West / Common', 'Up Up & Away', 10),
 ('Kid Cudi / Kanye West / Common', 'Make Her Say', 10),
 ('Lonnie Gordon', 'Catch You Baby (Wideboys Electro Remix)', 9),
 ('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('Ron Carter', "I CAN'T GET STARTED", 9),
 ('B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ('Usher', "Hey Daddy (Daddy's Home)", 6)]

Number of records in songplays

In [67]:
%%sql
select count(*)
from songplays

 * postgresql://dwhuser:***@dwhcluster.ctorm2ryd1t7.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(320,)]

## 5.Clean up resources

In [ ]:
try:
    redshift.delete_cluster(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
    iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
    iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
    print("Cleaned up sucessfully.")
except Exception as e:
    print(e)